@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
a:visited, a:link, a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style-type: none;
}
.title500 {
	font-family: Raleway;
	font-size: 36px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;
}
.text {
	font-family: Montserrat;
	font-weight: 300;
	color: #ffffff;
}


.header {
	background-image: url(../img/bg-header.jpg);
	background-repeat: no-repeat;
	background-position: center;

	background-color: rgba(17,17,17,0.7);
	height: 1024px;
	&-upper {
		height: 134px;
		display: flex;
		// justify-content: space-between;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 218px;
		.logo {
			display: flex;
			align-items: center;
		}
		.logo-img {
			display: block;
		}
		.logo-text {
			font-family: Raleway;
			font-size: 34px;
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: -0.04em;
			color: #ffffff;
			margin-right: 207px;
		}
		.nav {
			&-list {
				display: flex;
				.nav-list-item:nth-child(2) .nav-list-item-link {
					color: #c7b299;
				}
				&-item {
					margin-right: 30px;
					&-link {
						font-family: Montserrat;
						font-size: 14px;
						line-height: 1.2;
						font-weight: 300;
					}
					
				}
			}
		}
		.btn-header {
			background-color: transparent;
			background-repeat: no-repeat;
			border: none;
			outline: none;

		}
		.btn-cart {
			width: 18px;
			height: 24px;
			background-image: url(../img/icon-cart.png);
			margin: 0 28px 0 33px;
		}
		.btn-search {
			width: 24px;
			height: 24px;
			background-image: url(../img/icon-search.png);
		}
	}
	&-mid {
		position: relative;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		.heaging-title {
			margin-bottom: 14px;
		}
		.lead-title {
			font-family: Raleway;
			font-size: 52px;
			line-height: 1.2;
			font-weight: 800;
			color: #ffffff;
			margin-bottom: 19px;
		}
		.header-text {
			font-size: 16px;
			line-height: 24px;
			width: 568px;
			text-align: center;
			margin-bottom: 52px;
		}
		.header-link {
			background-color: #998675;
			border-radius: 3px;
			font-family: Raleway;
			font-size: 14px;
			line-height: 23px;
			font-weight: 800;
			text-transform: uppercase;
			color: #ffffff;
			padding: 21px 38px;
			margin-bottom: 327px;

		}


	}
	&-mid::before {
		top: 110px;
		left: -220px;
		position: absolute;

		content: url("../img/icon-left.png");
		width: 40px;
		height: 73px;
	}
	&-mid::after {
		top: 110px;
		left: 1350px;
		position: absolute;
		content: url("../img/icon-right.png");
		width: 40px;
		height: 73px;
	}
	.pagination-list {
		display: flex;
		align-items: center;
		justify-content: center;
		&-item {
			&-link {
				display: block;
				width: 11px;
				height: 11px;
				background: url(../img/icon-header-pag.png);
				opacity: 0.5;
			}


		}
		&-item:nth-child(2) {
			.pagination-list-item-link {
				width: 15px;
				height: 15px;
				opacity: 1;
				background: url(../img/icon-header-pag-current.png);
			}
		}
		&-item:not(:last-child) {
			margin-right: 10px;
		}
	}

}
